<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SocialLinkup.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE7F70472C9CD7C600FA16DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE7F70592C9CD7C800FA16DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE7F70632C9CD7C800FA16DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
